*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "parciales/header";
@import "parciales/layout";
@import "parciales/fonts";
@import "parciales/footer";
@import "parciales/mediaqueries";
@import "parciales/variables";
@import "parciales/404";











