@import "../parciales/mediaqueries";
@import "../parciales/variables";

h1{
    font-family: 'Patua One', cursive;
    font-size: 3rem;
    text-align: center;
    color: #0b0d0d;
}
h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    text-align: center;
    color: #0b0d0d;
}
h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
    text-align: center;
    color: #0b0d0d;
}
p{
    font-family: 'Roboto';
    color: #0b0d0d;
    font-size: $parrafos;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}
