@import "../parciales/variables";
@import "../parciales/mediaqueries";

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
    background-color: $blanco;
    .nav{
        text-align:center;
        .menu{
            list-style: none;
            font-family: 'Staatliches';
            letter-spacing: 1px;
            word-spacing: 1px;
            padding-top: 2rem;
            .itemMenu{
                color:$blanco;
                display: inline-block;
                padding: 0.5rem;
                margin-left: 2rem;
                margin-right: 2rem;
                border-radius: 0.8rem;
                position: relative;
                background-color: $blanco;
                :hover{
                    transform: scale(1.1);
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
li :hover{
                color: $azul;
                    }

a img{
    width: 60%;
    height: 60%;
    align-self: flex-end;
}
.submenu{
    position: absolute;
    left: auto;
    right: -25px;
    list-style: none;
    width: 8.5rem;
    text-align:center;
    font-size: 14px;
    background-color: $blanco;
    border-radius: 0.8rem;
    margin-top: 0.5rem;
    padding:0.5rem;
    display: none;
        li a{
            text-decoration: none;
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
}
.menu li:hover .submenu{
    display: block;
}
